*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

html{
    height: 100vh;
    margin:0;
    padding: 0;
}

body{
    min-height: 100%;
    margin:0;
    padding: 0;
    display:flex;
    flex-direction: column;
    background-image: url("../images/bg_image_bird.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.hero-content{
    background-color: transparent;
    backdrop-filter: blur(1px);
}

.logo{
    display: flex;
    padding:16px;
}

.header{
    padding: 16px;
    display:flex;
    justify-content: space-around;
}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding:32px;
}

.nav_menu{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}

.nav_menu a{
    color: white;
    font-size: 1.5rem;
}

.blur-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    overflow: visible; 
}

.blur-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    z-index: -1; 
}

.content {
    margin:56px;
    padding:56px;
    position: relative; 
    z-index: 1; 
    padding: 20px; 
    display:flex;
    background-color: transparent;
    backdrop-filter: blur(5px);
}

.sidebar{
    flex-basis: 30%;
    background-color: transparent;
    color:white;
    padding:32px;
    font-size: 1.5rem;
}

.main-content{
    flex-basis: 70%;
    color:white;
    padding:32px;
    font-size: 1.5rem;
}

.footer{
    color: white;
    text-align: center;
    padding: 48px;
}

@media screen and (min-width: 768px){

    body{
        min-height: 100%;
        margin:0;
        padding: 0;
        display:flex;
        flex-direction: column;
        background-image: url("../images/index/bg_image_bird.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100%;
        animation: bg_image_change 30s linear infinite;
        transition: bg_image_change 1s ease-in-out;
        opacity:0.85;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:  url("../images/index/bg_image_bird.jpg"),url("../images/index/bg_bird_1.jpg"), url("../images/index/bg_bird_2.jpg"),
                          url("../images/index/bg_bird_3.jpg"), url("../images/index/bg_bird_4.jpg"),
                          url("../images/index/bg_bird_5.jpg");
        background-size: cover;
        background-position: center;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }

    @keyframes bg_image_change {

        15% {
            background-image: url("../images/index/bg_bird_1.jpg");
            
        }

        30% {
            background-image: url("../images/index/bg_bird_2.jpg");
          
        }

        60% {
            background-image: url("../images/index/bg_bird_3.jpg");
         
        }

        80% {
            background-image: url("../images/index/bg_bird_4.jpg");
            
        }

        100% {
            background-image: url("../images/index/bg_bird_5.jpg");
           
        }
    }


    .logo{
        display: flex;
        padding:16px;
    }
    
    .header{
        padding: 8px;
        display:flex;
        justify-content: space-around;
    }
    
    .title{
        display:flex;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        color: white;
        padding:8px;
    }
    
    .nav_menu{
        display:flex;
        justify-content: space-evenly ;
        align-items: center;
        width:100%;
    }
    
    .nav_menu a{
        color: white;
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        position: relative;
    }

    .nav_menu a::after{
        content: '';
        position:absolute;
        left:0;
        bottom: -6px;
        width:100%;
        height:2px;
        background: #e4e4e4;
        border-radius: 5px;
        transform: translateY(10px);
        opacity: 0;
        transition: .5s;
        }

    .nav_menu a:hover::after{
        transform: translateY(0);
        opacity: 1;
    }
    

    .blur-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible; 
    }
    
    .blur-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        z-index: -1; 
    }
    
    .content {
        margin:16px 56px 16px 56px;
        padding:56px;
        position: relative; 
        z-index: 1; 
        padding: 20px; 
        display:flex;
        background-color: transparent;
        backdrop-filter: blur(5px);
    }
    
    .sidebar{
        flex-basis: 10%;
        background-color: transparent;
        color:white;
        padding:16px;
        font-size: 1rem;
    }
    
    .main-content{
        flex-basis: 90%;
        color:white;
        padding:16px;
        font-size: 1rem;
    }

    .main-content p:hover{
        padding: 16px;
        margin: 16px;
        background-color: rgb(65, 65, 64);
        transform: scale(1.25);
        font-size: 0.75rem;
        height:auto;
        width:60%;
    }
    
    .footer{
        color: white;
        text-align: center;
        padding: 48px;
    }
    
}